<%-include("partials/head.ejs")%>
<%-include("partials/header.ejs")%>
   <body>
       
             <div class="banner2">

             </div>
     <main>
     <section class="gondola1">

      <h1>BMW</h1>
      <div class="productos">

       <% productos.map(producto=> { %>
          <% if (producto.marca === "BMW") { %>
                  <article class="articulo">
                     <a href="/detalle"><img src=<%=producto.imagen %> alt="BMW"></a>
                     <h4 class="descripcion">
                        <%=producto.name %>
                     </h4>
                     <p class="camion">
                        <i2 class="fa-solid fa-truck"></i2>
                     </p>
                     <p class="precios">
                       $ <%= producto.precio %>
                     </p>
                     <p class="desc-descripcion">
                        <%=producto.descuento%>
                     </p>
                  </article>
               <% } %>
               <%}) %>       
         </div>
      </section>

      <section class="gondola2">
         <h1>AUDI</h1>
         
         <div class="productos">

            
            <% productos.map(producto=> { %>
               <% if (producto.marca === 'AUDI') { %>
            <article class="articulo">
               <a href="/detalle"><img src=<%=producto.imagen %> alt="AUDI"></a>
                     <h4 class="descripcion">
                        <%=producto.name %>
                     </h4>
                     <p class="camion">
                        <i2 class="fa-solid fa-truck"></i2>
                     </p>
                     <p class="precios">
                       $ <%= producto.precio %>
                     </p>
                     <p class="desc-descripcion">
                        <%=producto.descuento%>
                     </p>
                  </article>
               <% } %>
               <%}) %>
            </div>
             </section> 

      <section class="gondola3">
         <h1>PORSCHE</h1><br>
         <div class="productos">

            <% productos.map(producto=> { %>
               <% if (producto.marca === "PORSCHE") { %>
                  <article class="articulo">
                     <a href="/detalle"><img src=<%=producto.imagen %> alt="BMW"></a>
                     <h4 class="descripcion">
                        <%=producto.name %>
                     </h4>
                     <p class="camion">
                        <i2 class="fa-solid fa-truck"></i2>
                     </p>
                     <p class="precios">
                       $ <%= producto.precio %>
                     </p>
                     <p class="desc-descripcion">
                        <%=producto.descuento%>
                     </p>
                  </article>
               <% } %>
               <%}) %>


            <!--<article class="articulo">
               <a href="/detalle7"><img src="/images/porche1.webp" alt=></a>
               <p class="camion">
                  <i2 class="fa-solid fa-truck"></i2>
               </p>
               <p class="precios">$300.000</p>
               <p class="desc-descripcion">40% off</p>
               <h4 class="descripcion">Porsche 911</h4>
            </article>

<<<<<<< HEAD
      <article class="articulo">
         <a href="/detalle9"><img src="/images/porche3.jpg" alt=></a>
         <p class="camion">
            <i2 class="fa-solid fa-truck"></i2>
         </p>
         <p class="precios">$530.570</p>
         <p class="desc-descripcion">20% off</p>
         <h4 class="descripcion">Porsche Panamera</h4>
       </article>
       </div>
=======
            <article class="articulo">
               <a href="/detalle8"><img src="/images/porche2.jpg" alt=></a>

               <p class="camion">
                  <i2 class="fa-solid fa-truck"></i2>
               </p>
               <p class="precios">$330.000</p>
               <p class="desc-descripcion">20% off</p>
               <h4 class="descripcion">Porsche 356</h4>
            </article>

            <article class="articulo">
               <a href="/detalle9"><img src="/images/porche3.jpg" alt=></a>
               <p class="camion">
                  <i2 class="fa-solid fa-truck"></i2>
               </p>
               <p class="precios">$530.570</p>
               <p class="desc-descripcion">20% off</p>
               <h4 class="descripcion">Porsche Panamera</h4>
            </article>-->


         </div>

      </section>
       </main>

    <%-include("partials/footer.ejs")%>


</body>


   

   </html>
  
