<%-include("partials/head.ejs")%>
<body>
 <%-include("partials/header.ejs") %>
  <div class="banner2">

  </div>


  <main>
    <div class="main-registro">

    <section >
      <% errors.forEach((error) => { %>
        <p class="mensaje-error"><%= error.msg %></p>
     <% }) %>

      <form class="formulario-registro" action="/users/register" method="POST">
        <div>
          <label for="name">Nombre</label>
          <br />
          <input class="input" type="text" name="name" value="<%= locals.old && old.name ? old.name : "" %>"/>
        </div>
        <div>
          <label for="name">Correo Electronico</label>
          <br />
          <input class="input" type="email" name="email" value="<%= locals.old && old.email ? old.email : "" %>"/>
        </div>
        <div>
          <label for="name">Contraseña</label>
          <br />
          <input class="input" type="password" name="password" value="<%= locals.old && old.password ? old.password : "" %>"/>
        </div>
        <div>
          <label for="name">Confirmar Contraseña</label>
          <br />
          <input class="input" type="password" name="comfirm" value="<%= locals.old && old.comfirm ? old.comfirm : "" %>"/>
        </div>

        <div class="button-container">
          <button class="button" type="submit">Crear Cuenta</button>
          <button class="button" type="reset">Reset</button>
        </div>
      </form>
    </section>
    </div>
  </main>


  <%-include("partials/footer.ejs") %>
</body>

</html>